body {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer"
    ;
}


nav {
    display: block;
    background-color: #1d3461;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

.navbar {
    width: 150px;
}

.navbar a {
    background-color: #6290C8;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: underline;
}

.navbar a:hover {
    background-color: #1D2D44;
}


#Clicked .On {
    display: block;
}

#Clicked .Off {
    display: none;
}

#Clicked:target .On {
    display: none;
}

#Clicked:target .Off {
    display: block;
}