body {
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "aside"
        "footer"
    ;
}

.On::before {
    content: "☰";
}


nav {
    display: none;
    background-color: #1d3461;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
}

#NavOn:target {
    display: block;
}

.On {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2em;
    text-decoration: none;
}

.On {
    display: block;
}

#NavOn:target~.On {
    display: none;
}

.navbar {
    width: 150px;
}

.navbar a {
    background-color: #6290C8;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: underline;
}