@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFFFF;
    font-family: "Tektur", sans-serif;
    font-weight: 700;
    font-variation-settings:
        "wdth" 100;
    text-decoration: underline;

}

h2 {
    color: #FFFFFF;
    font-family: "Tektur", sans-serif;
    font-weight: 700;
    font-variation-settings:
        "wdth" 100;
    text-decoration: underline;

}

a {
    color: #FFFFFF;
}


header {
    background-color: #1D2D44;
    padding: 1em;
    color: #FFFFFF;
    grid-area: header;
    font-size: 1.5em;

}

nav {
    background-color: #1D3461;
    color: #FFFFFF;
    grid-area: nav;
    padding: 2em;
    font-family: "Tektur", sans-serif;
    font-weight: 350;
    font-variation-settings:
        "wdth" 100;
    text-decoration: underline;
}

main {
    background-color: #3E5C76;
    color: #FFFFFF;
    grid-area: main;
    font-size: 1.5em;
    padding: 1em;

}

aside {
    background-color: #1D3461;
    color: #FFFFFF;
    grid-area: aside;
    padding: 1em;
    font-family: "Winky Sans", sans-serif;
    font-style: normal;
    font-size: 1.5em;
}

footer {
    background-color: #6290C8;
    color: #FFFFFF;
    grid-area: footer;
    padding: 1em;
    font-family: "Winky Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

.indexText {
    padding: 1.5em;
}

.CartoonOfMe {
    border: double;
    border-color: black;
    border-width: 1em;
    border-radius: 25%;

}

.PlaceholderImage {
    border: solid;
    border-color: black;
    border-width: 1em;
    border-radius: 5%;
}

input[type=text], select, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 0.5em solid black;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  
  input[type=submit]:hover {
    background-color: #1D2D44;
  }

  input[type=submit] {
    cursor: pointer;
    background-color: #6290C8;
    color: white;
    padding: 8px;
    border-radius: 4px;
  }